[submodule "project/libs/glfw"]
	path = project/libs/glfw
	url = https://github.com/glfw/glfw
[submodule "project/libs/sol"]
	path = project/libs/sol
	url = https://github.com/ThePhD/sol2
[submodule "project/libs/assimp"]
	path = project/libs/assimp
	url = https://github.com/assimp/assimp.git
